@using System.Collections
@using EntityLayer.CanliYayin
@model EntityLayer.CanliYayin.CanliYayinDetaylari
@{
    ViewData["Title"] = "Canli Yayin Detaylari";
}

@{
    var yayinDurumu = Model.CanliYayinAktifMi == true ? "Aktif" : "Pasif";
}

<script src="~/js/My/CanliYayinDetaylari.js"></script>

<div class="row">
    <div class="card card-nav-tabs">
        <div class="card-header card-header-success">
            <b>Canlı Yayın Detayları : Yayın @yayinDurumu</b>
        </div>
        <div class="card-body">
            @if (Model.CanliYayinAktifMi)
            {
                <button class="btn btn-danger" onclick="CanliYayinPasifYap('@Model.CanliYayinId.ToString()')">Canlı Yayını Sonlandır</button>
            }
            else
            {
                <button class="btn btn-danger" onclick="CanliYayinAktifYap('@Model.CanliYayinId.ToString()')">Canlı Yayını Aktif Et</button>
            }

            <button class="btn btn-danger" onclick="CanliYayiniSil('@Model.CanliYayinId.ToString()')">Canlı Yayını Sil</button>

            @Html.AntiForgeryToken()
            <br />
            <b>Oluşturduğunuz canlı yayını aktif etmeden diğer kişiler tarafından erişilemez.</b>
        </div>
    </div>
</div>

<br />

<div class="container">

    <div class="row">
        <div class="col-12 center-block">
            @{
                string idx = "https://www.youtube.com/embed/" + Model.CanliYayinYayinId + "?controls=0;";

                <iframe width="560" height="315" src="@idx" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            }
        </div>
    </div>

    <br />
    <hr />
    <br />



    @if (ViewBag.CanliYayinDokumanlari as List<CanliYayinDokumanlari> != null)
    {
        <div class="row">
            @foreach (var item in ViewBag.CanliYayinDokumanlari as List<CanliYayinDokumanlari>)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-header-text card-header-primary">
                            <div class="card-text">
                                <h4 class="card-title">@item.DokumanAdi</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            Eklenme Zamanı : <b>@item.DokumanEklenmeTarihi</b>
                            <br />
                            <form asp-action="CanliYayiniYuklenenDosyayiSil" asp-route-canliYayinGuid="@item.CanliYayinId" asp-route-dosyaDokumanId="@item.CanliYayinDokumanlariId.ToString()" method="post">
                                
                                <button type="submit" class="btn col-md-12">Dokumanı Sil</button>

                            </form>
                           
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    
    <br />
    <hr />
    <br />

    <div class="row">
        <form method="post" enctype="multipart/form-data" asp-route-canliYayinId="@Model.CanliYayinId.ToString()" asp-action="UploadFiles">
            <div>
                <p>Yüklemek istediğiniz dosya/dosları seçiniz</p>
                <input type="file" name="files" class="btn btn-block" multiple />
            </div>
            <div>
                <input type="submit" class="btn btn-block" value="Yükle" />
            </div>
            @Html.AntiForgeryToken()
        </form>
    </div>

    <br />
    <hr />
    <br />


    @*Yoklama listesi*@
    <div class="row">

        <div class="card card-nav-tabs">
            <div class="card-header card-header-warning">
                <b>Ders Yoklama Listesi</b>
            </div>
            <div class="card-body">

            </div>
        </div>

        @if (ViewBag.YoklamaListesi is List<CanliYayinYoklama> !=null)
        {
            foreach (var item in (IEnumerable<CanliYayinYoklama>)ViewBag.YoklamaListesi )
            {
                <div class="card card-nav-tabs">
                    <div class="card-body">
                        <b>@item.OgrenciNumarasi</b> - <b>@item.OgrenciAdSoyad</b>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-danger " role="alert">
                Derse katılan kişi bulunamadı.
            </div>
        }
    </div>

</div>

